# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


DATABASE_URL="mysql://***********:pscale_pw_***********@aws.connect.psdb.cloud/portfolio?sslaccept=strict"

NEXT_PUBLIC_BASE_URL="https://localhost:3000"

NEXT_PUBLIC_IG_LINK="https://instagram.com/angganurfaisal"
NEXT_PUBLIC_X_LINK="https://twitter.com/angganurfaisal"
NEXT_PUBLIC_FB_LINK="https://facebook.com/angganurfaisal"
NEXT_PUBLIC_GT_LINK="https://github.com/angganurf"
NEXT_PUBLIC_LI_LINK="https://linkedin.com/angga-nurfaisal"
NEXT_PUBLIC_EMAIL="hi@angganurf.com"
NEXT_PUBLIC_EMAIL="hi@angganurf.com"
NEXT_PUBLIC_GO_HANDLE="@angganurf"
NEXT_PUBLIC_GO_LINK="https://www.google.com/search?q=angganurf"


