@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
.webkit1 {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin: 0px auto;
}
.webkit-box-pack-justify {
  -webkit-box-pack: justify;
}
.webkit-box-align-center {
  -webkit-box-align: center;
}

.companies:hover h3 {
  opacity: 100;
}
.webkit-mask-image {
  -webkit-mask-image: radial-gradient(
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 40%,
    transparent 80%
  );
}
.gradient-bg {
  position: absolute;
  top: calc(50% - 20px);
  left: 10%;
  width: 80%;
  filter: blur(40px);
  opacity: 0.2;
  background-size: 1000% 1000%;
  animation: 30s ease 0s infinite normal none running scroll;
}
.gradient-retro-2 {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-image: linear-gradient(
    90.42deg,
    #4ab1f1 0.58%,
    #566cec 37.22%,
    #d749af 73.87%,
    #ff7c51 112.26%
  );
}
.gradient-sky-2 {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-image: linear-gradient(90deg, #1584eb 0%, #24d6d9 97.34%);
}
.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}
.marquee-container:active div {
  animation-play-state: running;
}
.marquee-container:hover div {
  animation-play-state: running;
}
.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll 27s linear 0s infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
}

.marquee ul li {
  line-height: normal;
  padding: 0px 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-gray);
  opacity: 0.3;
}

.marquee ul li img {
  width: auto;
  height: 22px;
}

.companies:hover ul {
  transform: scale(0.97);
  opacity: 0.4;
  filter: blur(3px);
}
.workcardDark::before {
  content: "";
  border-radius: 16px;
  display: block;
  position: absolute;
  z-index: -1;
  inset: -2px;
  opacity: 0;
  transform: scale(0.8);
}
.workcardDark:hover::before {
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(30, 28, 50, 0.8) 0%,
    rgba(43, 22, 29, 0.7) 100%
  );
  transition: all 333ms ease 0s;
  transform: scale(1);
}

.workcard::before {
  content: "";
  border-radius: 16px;
  display: block;
  position: absolute;
  z-index: -1;
  inset: -2px;
  opacity: 0;
  transform: scale(0.8);
}
.workcard:hover::before {
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(255, 233, 244, 0.4) 0%,
    rgba(234, 243, 255, 0.7) 100%
  );
  transition: all 333ms ease 0s;
  transform: scale(1);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .workcardDark::before,
  .workcard::before {
    border-radius: 14px;
  }
}
