@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --img-shadow-2: 2px 2px 8px -1px rgb(0, 0, 0, 0.05),
    12px 12px 16px -4px rgb(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --img-shadow-2: 2px 2px 4px -2px rgb(0 0 0 / 50%),
      24px 24px 30px -6px rgb(0 0 0 / 50%);
  }
}

body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.webkit1 {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin: 0px auto;
}
.webkit-box-pack-justify {
  -webkit-box-pack: justify;
}
.webkit-box-align-center {
  -webkit-box-align: center;
}
.webkit-box-pack-center {
  -webkit-box-pack: center;
}
.companies:hover h3 {
  opacity: 100;
}
.webkit-mask-image {
  -webkit-mask-image: radial-gradient(
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 40%,
    transparent 80%
  );
}
.gradient-bg {
  position: absolute;
  top: calc(50% - 20px);
  left: 10%;
  width: 80%;
  filter: blur(40px);
  opacity: 0.2;
  background-size: 1000% 1000%;
  animation: 30s ease 0s infinite normal none running scroll;
}
.hover-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 233, 244, 0.4) 0%,
    rgba(234, 243, 255, 0.7) 100%
  );
}
.hover-bg-dark {
  padding: 16px;
  background: linear-gradient(
    90deg,
    rgba(30, 28, 50, 0.8) 0%,
    rgba(43, 22, 29, 0.7) 100%
  );
  display: flex;
  border-radius: 20px;
  margin: 60px 4px 4px;
  -webkit-box-align: center;
  align-items: center;
}
.gradient-retro-2 {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-image: linear-gradient(
    90.42deg,
    #4ab1f1 0.58%,
    #566cec 37.22%,
    #d749af 73.87%,
    #ff7c51 112.26%
  );
}
.progress {
  color: red;
}
.gradient-sky-2 {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-image: linear-gradient(90deg, #1584eb 0%, #24d6d9 97.34%);
}
.design-pur {
  background-image: linear-gradient(73.19deg, #dc79ff 0%, #256bfa 95.06%);
  color: rgb(255, 255, 255);
  padding: 8px 20px;
}

.transform-chat img {
  margin-right: -10px;
  height: 320px;
  transform: scale(1.2) translateY(18px);
}
.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}
.marquee-container:active div {
  animation-play-state: running;
}
.marquee-container:hover div {
  animation-play-state: running;
}
.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll 27s linear 0s infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
}

.marquee ul li {
  line-height: normal;
  padding: 0px 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-gray);
  opacity: 0.3;
}

.marquee ul li img {
  width: auto;
  height: 22px;
}

.companies:hover ul {
  transform: scale(0.97);
  opacity: 0.4;
  filter: blur(3px);
}
.companies:hover ul.comBottom {
  transform: scale(0.95);
  opacity: 0.2;
  filter: blur(10px);
}
.workcardDark::before {
  content: "";
  border-radius: 16px;
  display: block;
  position: absolute;
  z-index: -1;
  inset: -2px;
  opacity: 0;
  transform: scale(0.8);
}
.workcardDark:hover::before {
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(30, 28, 50, 0.8) 0%,
    rgba(43, 22, 29, 0.7) 100%
  );
  transition: all 333ms ease 0s;
  transform: scale(1);
}

.workcard::before {
  content: "";
  border-radius: 16px;
  display: block;
  position: absolute;
  z-index: -1;
  inset: -2px;
  opacity: 0;
  transform: scale(0.8);
}
.workcard:hover::before {
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(255, 233, 244, 0.4) 0%,
    rgba(234, 243, 255, 0.7) 100%
  );
  transition: all 333ms ease 0s;
  transform: scale(1);
}

.skeletonCard {
  background: linear-gradient(
    90deg,
    rgba(255, 233, 244, 0.945) 0%,
    rgba(234, 243, 255, 0.911) 100%
  );
}
.skeletonDarkCard {
  background: linear-gradient(
    90deg,
    rgba(30, 28, 50, 0.8) 0%,
    rgba(43, 22, 29, 0.7) 100%
  );
}

.companies h3 {
  position: absolute;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
  left: 50%;
  top: 45%;
  letter-spacing: -0.5px;
  transform: translate(-50%, 5px) scale(0.95);
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  line-height: 120%;
  text-align: center;
}
.companies ul.comBottom {
  display: flex;
  max-width: 600px;
  margin: 0px auto;
  opacity: 0.3;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
}

.gradient-nft {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-color: rgb(107, 187, 166);
  background-image: linear-gradient(90deg, #566cec, #d749af 50%, #ff7c51);
}

.left {
  transform: scale(-1, 1);
  opacity: 0.2;
}

.right {
  transform: scale(1, 1);
  opacity: 0.2;
}

.socialButton-Blue {
  background: linear-gradient(
    270deg,
    rgb(195, 194, 255) 0%,
    rgb(157, 190, 255) 100%
  );
  color: rgba(28, 48, 157, 0.7);
}
.socialButton-Purple {
  background: linear-gradient(
    270deg,
    rgb(240, 214, 255) 0%,
    rgb(211, 205, 255) 100%
  );
  color: rgba(92, 27, 174, 0.8);
}
.socialButton-Orange {
  background: linear-gradient(
    270deg,
    rgb(251, 206, 255) 0%,
    rgb(255, 209, 209) 100%
  );
  color: rgba(208, 0, 166, 0.8);
}

a.socialButton {
  padding: 6px 12px;
  border-radius: 18px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}
.card:first-child .wrap::before {
  background: #f81ce5;
}

.timeline-card-wrap {
  width: 420px;
  position: relative;
  padding-left: 16px;
  padding-bottom: 3rem;
}
.timeline-card-wrap::before {
  background: linear-gradient(
    270deg,
    rgb(195, 193, 255) 0%,
    rgb(162, 193, 255) 100%
  );
  border: 1px solid rgba(34, 36, 44, 0.15);
  content: "";
  display: block;
  float: left;
  height: 12px;
  left: -6.9px;
  position: absolute;

  width: 12px;
  border-radius: 12px;
}

.timeline-card-second {
  display: flex;
  flex-direction: column;
  padding: 12px;
  transform: translateY(-20px);
}
.timeline-card-second::before {
  content: "";
  border-radius: 16px;
  display: block;
  position: absolute;
  z-index: -1;
  inset: -2px;
  opacity: 0;
  transform: scale(0.8);
}

a.link-interview {
  margin: 2px 0px;
  text-decoration: none;
  font-weight: 500;
  transition: all 200ms ease 0s;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  display: inline-block;
  width: fit-content;
  letter-spacing: -0.25px;
}
a.link-interview .new-up {
  transform: scale(0.8) translateY(5px);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.shadow-2 {
  box-shadow: var(--img-shadow-2);
}
.grid-2 span {
  border-radius: 16px;
  display: flex;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .workcardDark::before,
  .workcard::before {
    border-radius: 14px;
  }
  .companies ul.comBottom {
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  a.socialButton {
    font-size: 15px;
    letter-spacing: -0.18px;
    padding: 4px 10px;
  }
  .timeline-card-wrap {
    padding-bottom: 40px;
    width: 100%;
  }
  .timeline-card-wrap::before {
    top: -10px;
  }
  .timeline-card-second {
    transform: translateY(2px);
  }
  .timeline-card-second::before {
    border-radius: 14px;
  }
  a.link-interview {
    font-size: 15px;
    letter-spacing: -0.18px;
    margin: 2px 0px;
  }
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
