@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
.webkit1 {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin: 0px auto;
}
.webkit-box-pack-justify {
  -webkit-box-pack: justify;
}
.webkit-box-align-center {
  -webkit-box-align: center;
}
